body {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/bg2.gif");
  background-size: 100%;
  background-position: center;
}
.wrapper-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
  width: 370px;
  height: 274px;
  background-color: #6e6e6e;
  border-radius: 5px;
  opacity: .85;
}
.calculator {
  width: 350px;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}
.calculator-display {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 60px;
  color: #000000;
  background-color: #3f3f3f;
  border-radius: 5px;
  margin-bottom: 10px;
}
.calculator-display__item {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  outline: none;
  border: none;
  text-align: right;
  color: #ffffff;
  font-size: 35px;
  line-height: 37px;
  font-family: "Century Gothic", serif;
}
.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.button-column {
  position: relative;
  width: 25%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.button-column--short {
  justify-content: flex-start;
}
.button-column__item {
  padding: 5px;
}
.button-column__item--zero {
  width: 190%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.button-column__item .btn {
  width: 100%;
  background-color: #3b393b;
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.button-column__item .btn--zero {
  width: 100%;
}
.button-column__item .btn:hover {
  background-color: #585858;
}
.button-column__item .btn:active {
  background-color: #1e1c1e;
  color: #ffffff;
}
.button-column__item .btn--equal {
  background-color: #ffa600;
}
.button-column__item .btn--equal:hover {
  background-color: #ff7000;
}
.button-column__item .btn--equal:active {
  background-color: #3b393b;
}
